// Place all the styles related to the beverage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.beverage_menu {
  border-spacing: 5;
  td, th {
    padding: 5px;
    text-align: center;
  }
}

#process_modal {
  display: none;
  text-align: center;
  height: 150px;
  width: 50%;
}

.vend_result {
  display: none;
}
